$backg-color: #eee;
$backg-hover: #ffbfcb;
$width: 100px;
$height: 100px;
$gap: 1px;
$padding: 10px;
$width-container: (($width + $gap) * 7) - 1;
$square-size: ($width + $gap);
$font-size: 30px;
$translate: -20px;
$week-days: (
  'mon': 0,
  'tue': 1,
  'wed': 2,
  'thu': 3,
  'fri': 4,
  'sat': 5,
  'sun': 6,
);
